name: test
on: workflow_dispatch

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Install
        run: pnpm install --frozen-lockfile=false
      - name: Test
        run: pnpm test